footer{
    background: var(--black);
    padding-block: 50px;

    .get-in-item{
        .content-item{
            padding-block: 25px;
        
            h2{
                margin-block: 10px;
            }
        }
        address{
            padding-block: 20px;

            .add-item{
                display: flex;
                align-items: center;
                padding-block: 0 15px;
                gap: 20px;
                font-style: normal;

                span{
                    color: var(--yellow);
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
    }

    .social-media{
        background: var(--stroke);
        padding: 10px 25px;
        border-radius: 15px;
        display: flex;
        gap: 30px;
        width: fit-content;

        i{
            font-size: 25px;
            color: var(--yellow);
        }
    }
    .form-item{
        .form-group{
            label{
                display: block;
                margin-bottom: 10px;
            }
            input, textarea{
                width: 100%;
                padding: 12px;
                background-color: var(--fill);
                border-radius: 10px;
                border: solid 1px var(--stroke);
                color: var(--white);
                font-size: 15px;

                }
                input:focus, textarea:focus{
                    outline: solid 1px var(--stroke);
                    /* outline: none; */
                }
        }
    }
    /* .form-group:last-child{
        padding-top: 24px;
    } */
}